.searchContainer{    
        background-color: #f6f6f6;     
    .btn-bd-primary{
        font-weight: 400;
        color: #fff;
        background-color: #7952b3;
        border-color: #7952b3;
    }
    .userName{
        color: #666;

    }
}

